.main{
   width:100%;
   display:flex;
   height:180px;
   overflow: hidden;
}
.imageslider{
   height:110%;
  
}
.slider3{
   height:104%;
}

.slider1{
   width:90%;
   margin-top: 20px;
}
.slider2{
   width:100%;
   height:150px;
   background: rgb(243, 243, 243);
}

@media screen and (max-width:1020px) {
  
   .imageslider{
     display: none;
   }
   .main2{
      margin:auto;
   }
}