.buttondiv{
    width:40px;
    height:40px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 60px;
    cursor: pointer;
}

.button{
    font-size:28px;
    font-weight: 700;
    margin-left:0px;
    margin-top: 6px;
    color: rgb(254,110,97);
}
.maincomponent{
    width:95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    overflow-x: auto;
   
}
.item{
    width:178px;
    /* height:210px; */
    cursor: pointer;
    
}
.item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius:7px;
}
.mainimage{
    height:180px;
}
.itemname{
    font-size:13px;
    font-family: sans-serif;
    width:140px;
    text-align: left;
    height:44px;
    margin: auto;
   
    margin-left:28px;
    overflow: hidden;
    
}
.image{
    width:115px;
    height:90%;
}
.quantity{
    width:80%;  
    font-size: 12px;
    font-weight: 500;
    color:rgb(150, 142, 142);
    margin-left: 25px;
    height:21px;
    overflow: hidden;
    text-align: left;
}
.component2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height:360px;
}
.component1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
    background: rgb(243, 243, 243);
 
}
.component1_1{
    line-height:3.5;
    margin-left: 15px;
    margin-top: 15px;
}
.component1_2{
    line-height: 2;
    background:rgb(254,110,97);
    color:white;
    width:90px;
    height: 30px;
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    width:70%;
}
.rating1{
    width: 50px;
    background: rgb(27,170,42);
    text-align: center;
    color:white;
    font-weight: 700;
}
.rating2{
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 2;
    color:rgb(129, 122, 122);
}
.ratingstar{
    margin-top:-2px;
}
.mrp{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 2;
    color:rgb(129, 122, 122);
    margin-left: 25px;
}
.mrp2{
    display:flex;
    text-decoration: line-through;
}
.mrpicon{
    margin-left:5px;
    margin-top:-1px;
}
.mrp3{
    margin-left: 5px;
    color: rgb(27,170,42);;
}
.actualmrp{
    margin-left: 25px;
    text-align: left;
}
@media screen and (max-width:420px){
    .maincomponent>div{
        gap:50px;
    }
}