
.container{
position :fixed;
margin: auto;
margin-left:16%;
width:68%;
height:70vh;
margin-top: 80px;;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
background:white;
opacity: 1.75;
border-radius: 7px;
display: flex;
flex-direction: row;
}
.overlay{
    width:100%;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    position: fixed;
    background: rgb(82, 70, 70,0.5);
}
.slidercontainer{
    width:50%;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.slidermain{
    width:80%;
    height:100%;
    margin-left:10%;
    cursor: pointer;
}
.imageslider{
    margin-top:30%;
}
.imagetag{
    font-size:25px;
    font-weight: bold;
    margin-top: 5%;
}
.slidersummary{
    font-size:13px;
    margin-top:5%;
}
.login{
    width:48%;
}
.loginremove{
    width:95%;
    margin:auto;
    text-align: right;
   cursor: pointer;
}
.login_main{
    width:85%;
    margin:auto;
    text-align: left;
    margin-top:3%;
}
.LoginSignUp{
    font-size:30px;
    font-weight:bold;
    text-align: left;
}
.logindisctription{
    font-size:13.5px;
    word-spacing: 2px;
    line-height: 3.5;
}
.formopen{
    margin-top:10%;
}
.forminput_1{
    width:70%;
  border:none;
    outline: none;
    color:green;
    font-weight: 500;
}
.forminput{
    width:70%;
  border:none;
    outline: none;
    font-weight: 500;
    margin-top: 5%;
}
.inputline{
    width:75%;
    height:2px;
    background: rgb(213,1,1);

}
.otpbutton{
    color:white;
    font-weight:bold;
    background:rgb(254,111,96);
    outline:none;
    border:none;
    width:100%;
    height:40px;
    margin-top:25%;
    border-radius: 7px;
}
.loginLoading{
    color:white;
    font-weight:bold;
    background:rgb(170, 143, 140);
    outline:none;
    border:none;
    width:100%;
    height:40px;
    margin-top:25%;
    border-radius: 7px;
    text-align: center;
    line-height: 2.3;
}
.loginLoading_1{
    line-height: 2;
    position:relative;
    top:4px;
    left:-50px;
    color:black;
}
.agreement{
    font-size:12px;
    width:40%;
    margin:auto;
    text-align: center;
    margin-top:10%;
}
.validnumber{
    color:red;
    font-size:12px;
    position:relative;
    top:15px;
}
.loginbox{
    width: 300px;
    height: 300px;
    background: white;
    border-radius:7px;
    margin:auto;
    margin-top:20vh;

}
.loginbox_1{
    line-height:2.5;
}
.loginimage{
    width: 200px;
}


/*MIDDLE-LINE*/


