.smallname{
    font-size:12px;
    padding:10px;
    margin-left:-70%;
}
.loading{
    margin-top:15%;
}
.main{
    width:50%;
    margin-left:15%;
    margin-top:3%;
    display: flex;
    flex-direction: row;
}
.img{
    width:40%;
    
}
.image{
    max-width:100%;
}
.main2{
    font-family: sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-top: 18px;
}
.name{
    font-size: 20px;
    font-weight: bold;
}
.from{
    font-size:12px;
    color:rgb(254,110,97)
}
.mainrating{
    width:50px;
   background:rgb(27,170,42);
    color:rgb(228, 228, 228);
    border-radius: 2px;
    margin-top:15px;
}
.rating{
    
   margin-left: 3px;
    font-weight: bold;
    font-size: 14px;
}
.ratingstar{
    margin-top:-2.5px;
    margin-left:5px;
}
.heighlights{
    margin-top:20px;
    font-size: 15px;
}
.li{
    font-size:14px;
}
.maping{
    margin-top:10px;
    width: 70%;
    
}
.emap{
    display:flex;
}
.element{
    margin-left:5px;
    font-size:14px;
}
.container{
    display:flex;
    flex-direction: row;
}
.cart{
    width:375px;
    height:310px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: white;
    margin-top:17%;
    border-radius: 7px;
}
.peoplebought{
    font-size:12px;
    background:rgb(221, 243, 216);
    height:30px;
    line-height: 2.2;
   word-spacing: 3px;
}
.stack{
    color:green;
    font-weight:bold;
    font-size:15px;
    transform: rotate(-20deg);
    margin-left: -38%;
}
.price{
    display:flex;
    flex-direction: row;
    margin-top:25px;
}
.finalprice{
    font-size: 24px;
    font-weight: 500;
    margin-left:10px;
}
.totalprice{
    line-height: 2.5;
    margin-left:10px;
    text-decoration: line-through;
}
.price_2{
    position:relative;
    left: 2.5px;
}
.toggle{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 2.5px solid rgb(254,111,96);
    margin-top:9px;
    margin-left:15px;
}
.toggle_1{
    width:12px;
    height: 12px;
  margin-left:2px;
  margin-top:2px;
    border-radius: 50%;
    background: rgb(254,111,96);
}
.price_1{
    position:relative;
    left:10px;
    top:-1px;
}
.discount{
    background:rgb(242, 252, 242);
    width:70px;
    color:rgb(27,170,42);
    font-size:13px;
    margin-left:50px;
}
.taxes{
    font-size:11px;
    font-family: sans-serif;
    margin-left: -65%;
    color:rgb(129, 123, 123);
    margin-top: 10%;
}
.selectop{
    display:flex;
    flex-direction:row;
    margin-left:4%;
    margin-top:10px;
   gap:20px;
}
.select{
    cursor: pointer;
}
.select>option{
    cursor: pointer;
}
.addcart{
    width:92%;
    margin-left:4%;
    height:40px;
    background: rgb(254,111,96);
    color:white;
    font-weight: bold;
    line-height: 2.5;
    margin-top:25px;
    cursor: pointer;
}

/*MEDIA SCREEN FROM 1020  AND >*/
@media screen and (max-width:1020px){
    .main{
        width:80%;
    }
    .main2{
        margin-left:20%;
    }
    .smallname{
        margin-left:-5%;
    }
    .container{
        flex-direction: column;
    }
}


/*MEDIA SCREEN FROM 0-420PX*/
@media screen and (max-width:420px){
    .loading{
        margin-top:30%;
    }
    .main{
        width:100%;
        flex-direction: column;
    }
    .img{
        margin-left:15%;
        text-align: center;
    }
    .smallname{
      margin-left:0;
    }
    .main2{
        margin-left: -10%;
        width:90%;
    }
    
}